@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
	box-sizing: border-box;
}
:root {
	font-weight: 400;
	font-size: 14px;
	--regular-font: "Heebo", sans-serif;
	--heading-font: "Rubik", sans-serif;
	--text-color: #333333;
	--primary-color: #005ac5;
	--secondary-color: #00cdc6;
	--line-pink: #ff75a4;
	--line-green: #ace846;
	--line-lightblue: #87aaf5;
	--line-teal: #00d9be;
	--line-blue: #009acf;
}
@media (min-width: 768px) {
	:root {
		font-size: 20px;
	}
}
body {
	margin: 0;
}

h1,
h2 {
	font-family: var(--heading-font);
	color: var(--primary-color);
}
h2 {
	font-size: 2.5rem;
}
div {
	display: block;
}
/* #region Positions */
.pos-rel {
	position: relative;
}
.pos-abs {
	position: absolute;
}
.abs--full {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.abs--left {
	left: 0;
}
.abs--right {
	right: 0;
}
.abs--full-bottom {
	right: 0;
	bottom: 0;
	left: 0;
}
/* #endregion Positions */

/* #region Backgrounds */
.bg-sports-gradient {
	background: linear-gradient(
		130deg,
		var(--primary-color) 0%,
		var(--secondary-color) 100%
	);
}
.bg-pattern {
	background-image: url("/assets/sports-pattern.png");
	background-size: 800px auto;
	background-repeat: repeat;
}

/* #endregion Backgrounds */

/* #region Hero */
.hero {
	display: flex;
}
.hero-bg {
	bottom: 150px;
}
.pre-order-button {
	display: flex;
}
.switch-logo {
}
.switch-logo img {
	width: 20vw;
	max-width: 100px;
}
/* #region Buttons */
.btn-reg {
	color: var(--primary-color);
	text-decoration: none;
	font-family: var(--heading-font);
	font-weight: 600;
	font-size: 1.2rem;
	background: white;
	padding: 0.6rem 1.5rem;
	margin: 1rem;
	border-radius: 100px;
}
/* #endregion Buttons */

/* Region: Class .hero-content */
/* Mobile */
.hero-content {
	width: 100%;
	max-width: 100%;
}
/* Tablet */
@media (min-width: 768px) {
	.hero-content {
		max-width: 1440px;
	}
}
.hero-image img {
	width: 100%;
}
/* End Region: Class .hero-content */
/* #endregion Hero */

.h2-block {
	max-width: 30rem;
}
