@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
	box-sizing: border-box;
}
:root {
	font-weight: 400;
	font-size: 14px;
	--line-width: 10px;
	--regular-font: "Heebo", sans-serif;
	--heading-font: "Rubik", sans-serif;
	--text-color: #333333;
	--primary-color: #005ac5;
	--secondary-color: #00cdc6;
	--line-pink: #ff75a4;
	--line-green: #ace846;
	--line-lightblue: #87aaf5;
	--line-teal: #00d9be;
	--line-blue: #009acf;
	--nintendo-red: #e60012;
}

/* #region Positions */
.pos-rel {
	position: relative;
}
.pos-abs {
	position: absolute;
}
.abs--full {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.abs--left {
	left: 0;
}
.abs--right {
	right: 0;
}
.abs--full-bottom {
	right: 0;
	bottom: 0;
	left: 0;
}
/* #endregion Positions */

/* Media-Text */
/* #region Class .media-text */

/* #endregion Class .media-text */

/* #endregion Backgrounds */

/* #region Buttons */

/* #endregion Buttons */

/* #endregion Class .hero-content */
/* #endregion Hero */

/* #region Class .white-block */
/* Mobile */

/* #endregion Class .features-list */

/* .capsule {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 500px;
	padding-bottom: 3rem;
}
.capsule span {
	font-weight: 600;
	padding: 0.35rem 2.5rem;
	background-color: var(--line-teal);
	border-radius: 500px;
} */

/* #pre-order .versions {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 2rem;
}
#pre-order .white-block {
	padding: 1rem;
	border-radius: 1.5rem;
	margin-bottom: 0;
}
#pre-order .white-block h3 {
	color: var(--primary-color);
	font-size: 1.5rem;
}

#pre-order .price-tag {
	font-size: 1.75rem;
}
#pre-order small {
	font-size: 0.75rem;
}
#pre-order .white-block img {
	border-radius: 10px;
	width: 100%;
} */

/* #nintendo-switch * {
	color: white;
}

#nintendo-switch .container-fluid {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#nintendo-switch .container-fluid h2 {
	text-align: center;
	font-size: 1.5rem;
	max-width: 80%;
	margin-bottom: 2rem;
}
.choose-system-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1rem;
}
.choose-system-button .btn-reg {
	color: var(--nintendo-red) !important;
	padding-inline: 3rem;
} */

.btn--reverse {
	background-color: var(--primary-color);
	color: white;
}

footer > .container-fluid {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* #region Arrow Buttons */
/* .arrow-button {
	--btn-bg: white;
	--btn-text: var(--primary-color);
	margin: 0.75rem;
	display: inline-flex;
	flex-direction: row;
	text-decoration: none;
	align-items: stretch;

	--arrow-margin: -2.25rem;
	--text-pad: 2.5rem;
}
.arrow-button--blue {
	--btn-bg: var(--primary-color);
	--btn-text: white;
}
.arrow-button div {
	background-color: var(--btn-bg);
	border-radius: 500px;
}
.btn-text {
	color: var(--btn-text);
	padding: 0.5rem 1.5rem;
	padding-left: var(--text-pad);
	font-family: "Rubik";
	font-weight: 600;
	transition: 0.2s ease-in-out;
}
.btn-arrow {
	display: flex;
	align-items: center;
	height: 2.5rem;
	width: 2.5rem;
	margin-right: var(--arrow-margin);
	justify-content: center;
	transition: 0.2s ease-in-out;
}
.btn-arrow img {
	height: 1rem;
	width: 1rem;
	filter: invert(19%) sepia(72%) saturate(3133%) hue-rotate(203deg)
		brightness(101%) contrast(101%);
}
.arrow-button--blue .btn-arrow img {
	filter: invert(100%) sepia(1%) saturate(622%) hue-rotate(157deg)
		brightness(110%) contrast(97%);
}
.arrow-button:hover {
	--text-pad: 1.5rem;
	--arrow-margin: 0.25rem;
} */
/* #endregion Arrow Buttons */
