@import "../util";
@import "../blocks";

#features {
	.heading {
		@include linedHeading();

		.features-list {
			margin-block: 40px;
			list-style: none;
			padding-right: 4rem;
			padding-left: 0.5rem;

			li {
				position: relative;
				margin-bottom: 1.5rem;
			}
		}
	}
}
