@import "../util";
@import "../blocks";

#hero {
	.hero {
		display: flex;
		position: relative;

		// Background
		.hero-bg {
			@include absolutePos(0, 0, 88px, 0);
			z-index: -1;

			// Gradient
			#gradient {
				@include absolutePos(0, 0, 0, 0);
				@include bg-gradient();
				z-index: -1;
			}
			// Pattern
			#pattern {
				@include absolutePos(0, 0, 0, 0);
				@include bg-pattern();
			}
		}

		// Switch Logo
		.switch-logo {
			@include absolutePos(auto, auto, auto, 0);
			z-index: 1;

			img {
				@include setWidth(20vw, 100px);
			}
		}

		// Hero Content
		.hero-content {
			@include setWidth(100%, 100%);
			@include breakpoint($breakpoint-tablet) {
				max-width: 1440px;
			}
			margin-inline: auto;
			position: relative;

			// Release Date
			.release-date {
				font-size: 0.8rem;

				$bottom: 60%;

				@include absolutePos(auto, 0, $bottom, auto);
				width: 100%;
				text-align: center;

				span {
					background-color: white;
					border-radius: 200px;
					padding: 0.25em 1em;

					font-weight: 700;
					color: $primary-color;

					border: $secondary-color solid 0.15em;
				}
			}

			// Pre Order Button
			.pre-order-button {
				@include absolutePos(0, 0, 0, 0);

				.button {
					@include arrowButton(white, $primary-color, $filter-blue);
				}
			}

			.round-bottom-container {
				@include absolutePos(auto, -1px, -1px, -1px);
			}
		}
	}
}
