@import "../util";
@import "../blocks";

#multiplayer {
	// BG
	.bg-div {
		@include absolutePos(0, 0, 0, 0);
		z-index: -1;

		// Gradient
		.gradient {
			@include absolutePos(0, 0, 0, 0);
			z-index: -1;
			@include bg-gradient();
		}

		// Pattern
		.pattern {
			@include absolutePos(0, 0, 0, 0);
			@include bg-pattern();
		}
	}

	// Content
	.media-text {
		@include breakpoint($breakpoint-desktop) {
			padding-block: 4rem;
		}

		&--media {
			z-index: 1;
			overflow: hidden;
			padding: 0;
		}

		img {
			margin: -10px;
		}

		@include breakpoint($breakpoint-desktop) {
			&--media {
				margin-left: 25px;
				overflow: visible;

				img {
					width: 125%;
				}
			}
		}

		// Text
		&--text {
			margin-inline: 5px;

			@include breakpoint($breakpoint-desktop) {
				padding-right: 0;
				padding-left: 10vw;
			}

			.white-block {
				@include whiteBlock();
				text-align: center;

				p {
					margin-inline: -8px;
					margin-bottom: 0;
				}
			}
		}
	}
}
