@import "../util";
@import "../blocks";

#pre-order {
	> .pos-rel {
		padding-bottom: 50px;
	}
	// BG
	.bg-div {
		@include absolutePos(0, 0, 0, 0);
		z-index: -1;

		// Gradient
		.gradient {
			@include absolutePos(0, 0, 0, 0);
			z-index: -1;
			@include bg-gradient();
		}

		// Pattern
		.pattern {
			@include absolutePos(0, 0, 0, 0);
			@include bg-pattern();
		}
	}

	.container-fluid {
		padding: 3rem;

		// Heading
		.heading {
			@include linedHeading(white);
			* {
				color: white;
			}
		}

		// Release Date
		.capsule {
			margin-block: 3rem;
			@include flexCenter();

			span {
				font-weight: 600;
				padding: 0.35rem 2.5rem;
				background-color: $line-teal;
				border-radius: 500px;
			}
		}

		// Versions
		.versions {
			display: grid;
			grid-template-columns: 1fr;
			grid-row-gap: 2rem;

			.white-block {
				@include whiteBlock(1.5rem);
				padding: 1rem;
				margin-bottom: 0;
				margin-inline: auto;
				max-width: 648px;

				.media-text {
					margin-bottom: 0;

					&--media {
						width: 100%;
						padding: 0;
						margin-bottom: 0;

						img,
						picture {
							margin-bottom: 0;
						}
					}
				}
				@include breakpoint($breakpoint-desktop) {
					max-width: 1000px;

					.media-text {
						min-height: 250px;
						&--media {
							display: flex;
							padding-left: 1rem;

							img {
								width: 100%;
							}
						}
						&--text {
							padding: 15px;
							display: flex;
							flex-direction: column;
							margin-bottom: 0;
						}
					}

					.price-tag {
						margin-bottom: 0;
					}
				}

				h3 {
					color: $primary-color;
					font-size: 1.5rem;
				}

				.price-tag {
					font-size: 1.75rem;
					display: block;
				}

				.small {
					font-size: 0.75rem;
				}

				img {
					border-radius: 10px;
				}
			}
		}
	}
	.order-button {
		margin-top: 2rem;
		@include flexCenter();

		.button {
			@include arrowButton($primary-color, white, $filter-white);

			margin-right: auto;
			margin-left: auto;

			@include breakpoint($breakpoint-desktop) {
				margin-right: 0;
			}
		}
	}
}
