@import "./vars";

@mixin bg-gradient {
	background: linear-gradient(130deg, $primary-color 0%, $secondary-color 100%);
}
@mixin bg-pattern {
	background-image: url("../assets/sports-pattern.png");
	background-size: 800px;
	background-repeat: repeat;
}

@mixin bg-nintendo {
	background-color: $nintendo-red;
}
