@import "./vars";

@mixin absolutePos($top, $right, $bottom, $left) {
	position: absolute;
	top: $top;
	left: $left;
	right: $right;
	bottom: $bottom;
}

@mixin setWidth($width, $max, $min: auto) {
	width: $width;
	max-width: $max;
	min-width: $min;
}

@mixin breakpoint($breakpoint) {
	@media (min-width: $breakpoint) {
		@content;
	}
}

@mixin hideOnMobile($display: flex) {
	display: none;
	@include breakpoint($breakpoint-tablet) {
		display: $display;
	}
}

@mixin flexCenter($direction: column) {
	display: flex;
	flex-direction: $direction;
	justify-content: center;
	align-items: center;
}

@mixin imageBorder {
	padding: 10px;
	border: 10px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(
		to right,
		#{$primary-color},
		#{$secondary-color}
	);
	border-radius: 15px;
}
